<div class="body">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="https://img.freepik.com/premium-vector/online-registration-sign-up-concept-flat-vector-illustration-young-male-cartoon-character-sitting-huge-smartphone-login-account-social-media-app-user-interface-secure-login_241107-1247.jpg" alt="">

        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div> 
    </div>

    <div class="forms">
        <div class="form-content">
          
          <div class="login-form">
            <div class="title">Login</div>
          <form (ngSubmit)="onSubmit()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="text">Forgot password?</div>
              
              <button  class="button">Login</button>
              
              <div class="text sign-up-text">Welcome, have a nice day</div>
            </div>
        </form>
      </div>
      
        
     
    </div>
    </div>
    </div>
  
</div>


